.tableRow {
    display: flex;
    align-items: center;
}

.tableRow h2 {
    font-size: 30px;
}

.image {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin-inline: 10px;
    margin-block: 25px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.value {
    font-size: 30px;
    font-weight: bold;
}