.continer {
    background-color: #E6F3FF;
    padding: 1.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.continer h1 {
    margin: 0%;
    font-size: 25px;
}

.continerEmail {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.continerEmail h1 {
    color: rgba(0, 0, 0, 0.434);
    font-size: 14px;
}